<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd"
>
    <entries>
        <entry>
            <name>BrandCrockMultiArticleTabs</name>
            <label lang="en">Multi Article Tabs </label>
            <label lang="de">Multi Article Tabs </label>
            <controller>MultiArticleTabsController</controller>
            <action>index</action>
            <class>sprite-blue-document-pdf</class>
            <parent identifiedBy="controller">Content</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("MultiArticleTabsController", { "title": "Multi Article Tabs View" })</onclick>
        </entry>
    </entries>
</menu>