<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">BrandCrock Lotterie</label>
    <label lang="en">BrandCrock Lottery</label>

    <version>1.0.0</version>
    <copyright>(c) by BrandCrock GmbH </copyright>
    <license>proprietary</license>
    <link>https://brandcrock.com</link>
    <author>BrandCrock GmbH</author>
    <compatibility minVersion="5.0.0"/>
    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>
</plugin>