<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="combo" scope="shop" required="true">
            <name>mainCategoriesLayoutCategories</name>
            <label lang="de">Wählen Sie Kategorien für das Layout mit Hauptkategorien aus</label>
            <label lang="en">Select categories for layout with main categories</label>
            <store>
                <![CDATA[Ext.define('BrandCrock.CustomSidebar.Form', {
                extend: 'Ext.data.Store',
                fields: [
                    { name:'id', type: 'int' },
                    { name:'name', type: 'string' }
                ],
                autoLoad: true,
                pageSize: 50,
                proxy: {
                    type: 'ajax',
                    url: window.location.href.substr(0, window.location.href.indexOf('backend')) + 'backend/CustomSidebar/getTopCategories',
                    reader: {
                        type: 'json',
                        root: 'data',
                        totalProperty: 'total'
                    }
                }
                }).create();//new ]]>
            </store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>
    </elements>

</config>
