<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd"
>
    <entries>
        <entry>
            <name>BrandCrockManufacturerInfo</name>
            <label lang="en">Manufacturer Info</label>
            <label lang="de">Manufacturer Info</label>
            <controller>ManufacturerInfoController</controller>
            <action>index</action>
            <class>sprite-user--plus</class>
            <parent identifiedBy="controller">Article</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("ManufacturerInfoController", { "title": "Manufacturer Info" })</onclick>
        </entry>
    </entries>
</menu>